
<div id="myCarousel" class="carousel slide" >
  <div class="carousel-inner">
    
    <div class="item active">
      <img src="test_airbnb.png" alt="">
    </div>

    <div class="item">
      <img src="test_airbnb.png" alt="">
    </div>

    <div class="item">
      <img src="test_airbnb.png" alt="">
    </div>

	</div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>


<%@listing = Listing.find(params[:id])%>
<div class="row listing">
		<div class=col-md-12 col-md-offset-2">
			<div >
				<% if @listing.photos.present? %>
					<% @listing.photos.each do |photo| %>
						<p><%= image_tag photo, class: "img-responsive" %></p>
					<% end %>
          <% else %>   
              <img class="img-responsive" src="test_airbnb.png" alt="...">  
          <% end %>
				</div>
				</div>
				<div class="center">
        <div class="col-sm-12 col-sm-offset-3">
					<h3><%= @listing.title %></h3>
					<h4><%= @listing.description %></h4>
					<h4>Price : <%= @listing.price %></h4>
					<h4>Nomber of guest : <%= @listing.max_guests %></h4>
					<% selection = ListingTag.where(listing_id: params[:listing_id]) %>
					<% g = selection.pluck(:tag_id)%>
						<% g.each do |num|%>
							<% resultat = Tag.find_by(id: num) %>
							<h6><%= resultat.name %> </h6>
						
						<% end %>

		</div>
	</div>
</div>		

